{% extends "base/adminbase.html" %}

<!-- Load Static -->
{% load static %}

<!-- Enter Title -->
{% block title %}
<title>Silicon Guest House | Booking Details</title>
{% endblock title %}

<!-- Page Title -->
{% block navbrand %}
<a class="navbar-brand" href="#">Booking</a>
{% endblock navbrand %}

<!-- Content -->
{% block content %}

<!-- User Details Page -->
<div class="booking-page">
    <section>
        <input type="search" placeholder="Search for ID, SIC, Name.." class="form-control search-input"
            id="searchInput" name="search" autocomplete="off" data-table="users-list">
    </section>
    <hr>
    <table class="table users-list">
        <thead class="table-dark">
            <tr>
                <th>Booking ID</th>
                <th>Full Name</th>
                <th>SIC</th>
                <th>Check Out</th>
                <th>Days</th>
                <th>Room Type</th>
                <th>Rooms</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for booking_list in booking_list %}
            <tr>
                <td>{{booking_list.id}}</td>
                <td>{{booking_list.full_name}}</td>
                <td>{{booking_list.user_username}}</td>
                <td>{{booking_list.check_in}}</td>
                <td>{{booking_list.total_days}}</td>
                <td>{{booking_list.room_type}}</td>
                <td>{{booking_list.total_rooms}}</td>
                <td><a href="{% url 'UserBookigDetails' booking_list.id %}" class="btn btn-primary">View</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}

<!-- Script -->
{% block script %}
<script src=" {% static 'script/search.js' %}"></script>
{% endblock script %}