{% extends "base/adminbase.html" %}

<!-- Load Static -->
{% load static %}

<!-- Enter Title -->
{% block title %}
<title>Silicon Guest House | Dashboard</title>
{% endblock title %}

<!-- Page Title -->
{% block navbrand %}
<a class="navbar-brand" href="#">Dashboard</a>
{% endblock navbrand %}

<!-- Content -->
{% block content %}

<!-- Dashboard Page -->
<div class="dashboard-page">
    <div class="counters-display mb-4">
        <div class="card">
            <div class="card-body">
                <i class="fa-solid fa-users"></i>
                <section>
                    <h4 class="count">{{totalUsers}}</h4>
                    <p>Total Users</p>
                </section>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <i class="fa-solid fa-bed"></i>
                <section>
                    <h4 class="count">{{totalBooking}}</h4>
                    <p>Total Rooms Booked</p>
                </section>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <i class="fa-solid fa-money-bill"></i>
                <section>
                    <h4 class="count">Rs {{total_amount}}</h4>
                    <p>Total Income</p>
                </section>
            </div>
        </div>
    </div>

    <div>
        <section class="recent-rooms-booking mb-4">
            <h5>Recent Rooms Booking</h5>
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>Booking ID</th>
                        <th>Full Name</th>
                        <th>Check In</th>
                        <th>Check Out</th>
                        <th>Days</th>
                        <th>Room Type</th>
                        <th>Rooms</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% if booking %}
                    {% for bookingDetails in booking %}
                    <tr>
                        <td>{{bookingDetails.id}}</td>
                        <td>{{bookingDetails.full_name}}</td>
                        <td>{{bookingDetails.check_in}}</td>
                        <td>{{bookingDetails.check_out}}</td>
                        <td>{{bookingDetails.total_days}}</td>
                        <td>{{bookingDetails.room_type}}</td>
                        <td>{{bookingDetails.total_rooms}}</td>
                        <td><a href="" class="btn btn-primary">View</a></td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td class="text-center text-danger">
                            <p>No Data</p>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </section>

        <section class="recent-user">
            <h5>Recent Users</h5>
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>User ID</th>
                        <th>SIC No.</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email Address</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% if users %}
                    {% for userList in users %}
                    <tr>
                        <th>{{userList.id}}</th>
                        <th>{{userList.username}}</th>
                        <th>{{userList.first_name}}</th>
                        <th>{{userList.last_name}}</th>
                        <th>{{userList.email}}</th>
                        <td><a href="" class="btn btn-primary">View</a></td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td class="text-center text-danger">
                            <p>No Data</p>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </section>
    </div>
</div>

{% endblock content %}

<!-- Script -->
{% block script %}
<script src="{% static 'script/counter.js' %}"></script>
{% endblock script %}