{% extends "base/adminbase.html" %}

<!-- Load Static -->
{% load static %}

<!-- Enter Title -->
{% block title %}
<title>Silicon Guest House | Dashboard</title>
{% endblock title %}

<!-- Page Title -->
{% block navbrand %}
<a class="navbar-brand" href="#">Dashboard</a>
{% endblock navbrand %}

<!-- Content -->
{% block content %}

<div class="counters-display mb-5">
    <div class="card">
        <div class="card-body">
            <i class="fa-solid fa-users"></i>
            <section>
                <h4>8</h4>
                <p>Total Users</p>
            </section>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <i class="fa-solid fa-users"></i>
            <section>
                <h4>7</h4>
                <p>Total Rooms Booked</p>
            </section>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <i class="fa-solid fa-money-bill"></i>
            <section>
                <h4>Rs 4500</h4>
                <p>Total Income</p>
            </section>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <section class="recent-rooms-booking">
            <h5>Recent Rooms Booking</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Total People</th>
                        <th>Room Type</th>
                        <th>No. of Rooms</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Random</th>
                        <th>4</th>
                        <th>Double Bed Room</th>
                        <th>2</th>
                        <td><a href="" class="btn btn-primary">View</a></td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section class="recent-user">
            <h5>Recent Users</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>SIC No.</th>
                        <th>Email Address</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Random</th>
                        <th>20BCSL11</th>
                        <th>random@gmail.com</th>
                        <td><a href="" class="btn btn-primary">View</a></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
    <div class="col">
        <section class="messages-section">
            <h5>Messages</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ramdom</td>
                        <td><a href="" class="btn btn-primary">View</a></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>

{% endblock content %}