{% extends "base/adminbase.html" %}

<!-- Load Static -->
{% load static %}

<!-- Enter Title -->
{% block title %}
<title>Silicon Guest House | User Details</title>
{% endblock title %}

<!-- Page Title -->
{% block navbrand %}
<a class="navbar-brand" href="#">User</a>
{% endblock navbrand %}

<!-- Content -->
{% block content %}

<!-- User Details Page -->
<div class="user-page">
    <section class="d-flex justify-content-between">
        <input type="search" placeholder="Search for SIC, Name, Email.." class="form-control m-1 search-input"
            id="searchInput" name="search" autocomplete="off" data-table="users-list">
        <a href="{% url 'UserDataUpload' %}" class="btn btn-primary m-1">User File</a>
    </section>
    <hr>
    <table class="table users-list">
        <thead class="table-dark">
            <tr>
                <th>User ID</th>
                <th>SIC Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Created On</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.date_joined}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}

<!-- Script -->
{% block script %}
<script src=" {% static 'script/search.js' %}"></script>
{% endblock script %}