{% extends "base/bookingbase.html" %}

<!-- Load Static -->
{% load static %}

<!-- Enter Title -->
{% block title %}
<title>Silicon Guest House | Booking History</title>
{% endblock title %}

<!-- Body -->
{% block content %}

<!-- Booking Page -->
<div id="booking-page" class="container my-5">
    <div class="booking-page-wrapper mt-5">
        <h4 class="mb-4">BOOKING HISTORY</h4>

        {% for history in bookingDetails %}
        <div class="card boking-history-card mb-3">
            <div class="card-body">
                <section class="details">
                    <p>Booked On : <span>{{history.created_at}}</span></p>
                    <p>Booking ID : <span>{{history.id}}</span></p>
                </section>
                <hr>
                <section class="details">
                    <p>Check-In Date : <span>{{history.check_in}}</span></p>
                    <p>Days : <span>{{history.total_days}}</span></p>
                    <p>Check-Out Date : <span>{{history.check_out}}</span></p>
                </section>
                <section class="details">
                    <p>Room Type : <span>{{history.room_type}}</span></p>
                    <p>Rooms : <span>{{history.total_rooms}}</span></p>
                    <p>Total Amout : <span>Rs {{history.total_amount}} /-</span></p>
                </section>
                <hr>
                <section class="d-flex justify-content-end">
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#data-{{history.id}}" aria-expanded="false" aria-controls="data-{{history.id}}">
                        View Details
                    </button>
                </section>
                <div class="collapse mt-3" id="data-{{history.id}}">
                    <div class="">
                        <section class="details">
                            <p>Name : <span>{{history.full_name}}</span></p>
                            <p>Phone Number : <span>{{history.phone_number}}</span></p>
                        </section>
                        <section class="details">
                            <p>email : <span>{{history.email}}</span></p>
                            <p>Address : <span>{{history.address}}</span></p>
                        </section>
                        <section class="details">
                            <p>Total People : <span>{{history.total_peoples}}</span></p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}