{% extends "base/bookingbase.html" %}

<!-- Load Static -->
{% load static %}

<!-- Enter Title -->
{% block title %}
<title>Silicon Guest House | Login</title>
{% endblock title %}

<!-- Body -->
{% block content %}

<!-- OTP Page -->
<div id="booking-page" class="container my-5">
    <section class="otp-page">
        <h4 class="mb-5">OTP VERIFICATION</h4>
        <form action="{% url 'OTPValidation' %}" autocomplete="off" method="post">
            {% csrf_token %}
            <div>
                <span>
                    {% if messages %}
                    {% for message in messages %}
                    <p class="{{message.tags}}">{{message}}</p>
                    {% endfor %}
                    {% endif %}
                </span>
            </div>
            <div class="mb-3">
                <label for="otp" class="form-label">A OTP is send to your email id </label>
                <input type="number" class="form-control" id="otp" name="otp" placeholder="Please enter otp">
                <span id="otp_error" class="error_message"></span>
            </div>

            <div class="btn-submit">
                <input type="submit" class="btn btn-primary" value="Verify">
            </div>
        </form>
    </section>
</div>

{% endblock content %}

<!-- Script -->
{% block script %}
<script src="{% static 'script/authentication.js' %}"></script>
{% endblock script %}