{% extends "base/authenticationbase.html" %}

<!-- Load Static -->
{% load static %}

<!-- Enter Title -->
{% block title %}
<title>Silicon Guest House | Login</title>
{% endblock title %}

<!-- Image Section -->
{% block images %}
<img src="{% static 'images/one.png' %}" alt="">
{% endblock images %}

<!-- Body -->
{% block content %}

<div class="authentication-wrapper">
    <form action="" autocomplete="off" method="post" onsubmit="return loginvalidationFun()">
        {% csrf_token %}
        <h3>Welcome Back!</h3>
        <p>Don't have a account? <a href=" {% url 'RegistrationPage' %} ">Register</a></p>
        <div>
            <span>
                {% if messages %}
                {% for message in messages %}
                <p class="{{message.tags}}">{{message}}</p>
                {% endfor %}
                {% endif %}
            </span>
        </div>
        <div class="mb-3">
            <label for="sic_number" class="form-label">SIC Number</label>
            <input type="text" class="form-control" id="sic_number" name="sic_number">
            <span id="sic_number_error" class="error_message"></span>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password">
            <span id="password_error" class="error_message"></span>
        </div>

        <div class="btn-submit">
            <button class="btn">Login</button>
        </div>
    </form>
</div>

{% endblock content %}

<!-- Script -->
{% block script %}
<script src="{% static 'script/authentication.js' %}"></script>
{% endblock script %}