{% extends "base/authenticationbase.html" %}

<!-- Load Static -->
{% load static %}

<!-- Enter Title -->
{% block title %}
<title>Silicon Guest House | Registration</title>
{% endblock title %}

<!-- Image Section -->
{% block images %}
<img src="{% static 'images/three.png' %}" alt="">
{% endblock images %}

<!-- Body -->
{% block content %}

<div class="authentication-wrapper">
    <form action="" autocomplete="off" method="post">
        <h3>Get's Started.</h3>
        <p>Already have a account? <a href=" {% url 'LoginPage' %} ">Log in</a></p>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email">
            <span id="email_error" class="error_message"></span>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password">
            <span id="password_error" class="error_message"></span>
        </div>

        <div class="mb-3">
            <label for="confirm_password" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirm_password">
            <span id="confirm_password_error" class="error_message"></span>
        </div>

        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" value="" id="terms_cond">
            <label class="form-check-label" for="terms_cond">
                I agree to <span>Terms of services</span> and <span>Privacy Policy</span>
            </label><br>
            <span id="reg_terms_error" class="error_message"></span>
        </div>
        <div class="btn-submit">
            <button class="btn">Register</button>
        </div>
    </form>
</div>

{% endblock content %}